<!DOCTYPE html>
<html>
    <head>
    <title>Joy-Makers |</title>
    <link rel="stylesheet" href="./loginAndOutStyles/loginOutFiles.css">  
    <link rel="stylesheet" href="/styles2.css">
    <link rel="stylesheet" href="./mainBodyStyles/mainContentStyles.css">
    <link rel="stylesheet" href="./mainBodyStyles/pages.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>

    <!--CDNS FOR DATABLES-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script> 
    
    <!--THESE CDN FILES ARE USED TO PRODUCE THE PRINT BUTTON IN THE DATATABLES--> 
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script> 
    
</head>
</html>