<nav id="navigationbar" class="partials">
    <div id="groupLogoInfor">
    <div id="logoDiv">
    <img src='./images/JoyMakersLogo.jpg' id="groupLogo">
    </div>
    <h1>JOY MAKERS <br> S.H.G</h1>
   </div>
    <div id="loggedInInfor">
        <p>Logged in as:</p>
        <div id="member"><%=member.userName%></div>
    </div>

</nav>