<%-include('./partials/header.ejs') %>
<body>
<main class="mainBody">
<%-include('./partials/navigationbar.ejs')%>
<%-include('./partials/sideNavBar.ejs')%>
<div class='mainContainer'>
</div>
<%-include('./partials/footer.ejs')%>
</main>
</body>