<%-include('./partials/header.ejs') %>
<body>
<main class="mainBody">
<%-include('./partials/navigationbar.ejs')%>
<%-include('./partials/sideNavBar.ejs')%>
<div class='mainContainer'>
   <div id="errorDiv"><p>You are not authorised to Access this functionality!!<br>Navigate to another Page.</p>   </div>
</div>
<%-include('./partials/footer.ejs')%>
</main>
</body>