<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./loginAndOutStyles/loginOutFiles.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
    <div id="loginPane">
        <div id="title">
        <img id="groupLogo" src="./images/JoyMakersLogo.jpg" alt=""><h2>Joy Makers Sign In</h2>
        </div>
        <form action="/dashboard" method="post">
        <div id="inputs">
        <p>Please enter your credentials.</p>
        <input type="text" name="userName" placeholder="username" required><br>
        <input type="password" name="password" placeholder="password" required><br> 
       <pre><p class="error"><%-message%>      <a href="/resetPassword">Forgot password.</a></p> </pre> 
        <div>     
        <button type="submit">Login</button>
        <small>Not Registered?<a  href="/request">Request Membership.</a></small>
        </div>
       </form>
        </div>  
        </div>
</div>
    
</body>
</html>