<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./loginAndOutStyles/loginOutFiles.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
    <div id="loginPane">
        <div id="title">
        <img id="groupLogo" src="./images/JoyMakersLogo.jpg" alt=""><h2>Joy Makers Sign In</h2>
        </div>
        <form action="/resetPassword" method="post">
        <div id="inputs">
        <p>Please enter your credentials.</p>
        <input type="text" name="userName" placeholder="username" required><br>
        <input type="password" name="password" placeholder="password" required><br> 
        <input type="password" name="newPassword" placeholder="New Password" required id="newPassword"><br> 
        <small id="checkPassword" style="font-size: 17px;"></small><br>
       <pre><%-message%>  </pre> 
        <div>     
        <button type="submit" id="changeButton">Change Password</button>
        <small>Not Registered?<a  href="/request">Request Membership.</a>/<a href="/">Login</a></small>
        </div>
       </form>
        </div>  
        </div>
</div>

<script>

const newPassword= document.querySelector('#newPassword');
const qualityChecker= document.querySelector('#checkPassword');
const changeButton = document.querySelector('#changeButton');
newPassword.addEventListener('input',async ()=>{
  const testRegex = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,})');
    if(await !testRegex.test(newPassword.value)){
      checkPassword.innerHTML='Include a small and capital letter,digit ,special character!'
      checkPassword.style.color ="red";
    } else{
      qualityChecker.textContent='Good Password qualities met.'
      qualityChecker.style.color ="green";
    }
});


    // $(document).ready(function(){
    // const newPassword= document.getElementById('newPassword');
    // const qualityChecker= document.getElementById('qualityChecker');
    // newPassword.addEventListener('input',()=>{
    //     alert('mwaura');
    // const testRegex = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,})');
    // if(!testRegex.test(newPassword.value)){
    //   qualityChecker.innerHTML='Include a small and capital letter,digit ,special character!'
    //   qualityChecker.style.color ="red";
    // } else{
    //   qualityChecker.textContent='Good Password qualities met'
    //   qualityChecker.style.color ="green";
    // }
    // });
    // });
</script>

    
</body>
</html>