<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./loginAndOutStyles/loginOutFiles.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
    <div id="loginPane">
        <div id="title">
        <img id="groupLogo" src="./images/JoyMakersLogo.jpg" alt=""><h2>Joy Makers Sign Up</h2>
        </div>
        <div id="inputs">
        <p><%if(message)%>
            <%-message%>
            <%if(confirmation)%>   
            <%-confirmation%>        
        </p>
        </div>  
        </div>
</div>
    
</body>
</html>